@font-face {
    font-family: "chinese-rocks";
    src: url(./fonts/CHINESE\ ROCKS\ RG.OTF);
}


header {
    background-color: rgb(14, 13, 13);
    background: rgb(14, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}


header img {
    background-attachment: fixed;
    width: 50vh;
}

.nav-item,
.nav-link {
    font-family: "chinese-rocks";
    font-size: 50px;
    color: white;
}

.nav-link:hover {
    color: red;
}

.background-site, body {
    background-image: url(./img/Wild\ West\ Collage\ in\ Black\ &\ White.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#carouselFade {
    padding-top: 7px;
    padding-bottom: 50px;
}

#carouselFade img {
    border-radius: 10px;
    width: 200vh;
    height: 79vh;
    object-fit: cover;
}

.container h1 {
    font-family: "chinese-rocks";
    color: white;
    font-size: 70px;

    background: linear-gradient(to right, rgb(255, 255, 255) 50%, red 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container h2 {
    font-family: "chinese-rocks";

    background: linear-gradient(to right, rgb(255, 255, 255) 50%, red 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.col {
    padding: 10px;
    width: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col img {
    width: 100%;
    height: 320px;
    padding: 10px;
    border-radius: 10px;
    object-fit: cover;
}


footer {
    background-color: rgb(14, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: aliceblue;

}

footer img {
    width: 50px;
    margin-right: 10px;
}

.accordion {
    max-width: 900px;
    margin: 50px auto; 
    background-color: transparent;
}

.accordion button {
    padding: 30px;
    background-color: rgb(14, 13, 13);
    font-family: "chinese-rocks";
    font-size: 30px;
    color: red;
}

.accordion button:focus,
.nav-link {
    box-shadow: none;
    border-color: transparent;
}

.accordion button:not(.collapsed) {
    background-color: rgb(14, 13, 13);
    color: rgb(255, 255, 255);
}

.accordion-body {
    background-color: rgb(14, 13, 13);
    color: white;
}
